<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Megrendelési oldal</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>

<h1>Rendelés</h1>

<form id="orderForm" action="index.ejs" method="POST">
    <h2>Válasszon terméket:</h2>
    <div class="product">
        <label>
            <input type="radio" name="product" value="product1" required>
            <img src="img/14.jpg" alt="Product 1" width="100"> 
        </label>
        <label>
            <input type="radio" name="product" value="product2">
            <img src="img/15.jpg" alt="Product 2" width="100"> 
        </label>
        <label>
            <input type="radio" name="product" value="product3">
            <img src="img/16.jpg" alt="Product 3" width="100"> 
        </label>
    </div>

    <h2>Személyes adatok</h2>

    <div class="form-group">
        <label for="name">Név:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <h2>Számlázási cím</h2>

    <div class="form-group">
        <label for="billingCountry">Ország:</label>
        <input type="text" id="billingCountry" name="billingCountry" required>
    </div>

    <div class="form-group">
        <label for="billingZip">Irányítószám:</label>
        <input type="text" id="billingZip" name="billingZip" required>
    </div>

    <div class="form-group">
        <label for="billingCity">Város:</label>
        <input type="text" id="billingCity" name="billingCity" required>
    </div>

    <div class="form-group">
        <label for="billingAddress">Utca és házszám:</label>
        <input type="text" id="billingAddress" name="billingAddress" required>
    </div>

    <h2>Szállítási cím</h2>

    <div class="form-group">
        <label>
            <input type="checkbox" id="sameAsBilling" name="sameAsBilling" onclick="copyBillingAddress()"> Ugyanaz, mint a számlázási cím
        </label>
    </div>

    <div class="form-group">
        <label for="shippingCountry">Ország:</label>
        <input type="text" id="shippingCountry" name="shippingCountry" required>
    </div>

    <div class="form-group">
        <label for="shippingZip">Irányítószám:</label>
        <input type="text" id="shippingZip" name="shippingZip" required>
    </div>

    <div class="form-group">
        <label for="shippingCity">Város:</label>
        <input type="text" id="shippingCity" name="shippingCity" required>
    </div>

    <div class="form-group">
        <label for="shippingAddress">Utca és házszám:</label>
        <input type="text" id="shippingAddress" name="shippingAddress" required>
    </div>

    <div class="form-group">
        <label for="coupon">Kuponkód (BB-SSSS formátumban):</label>
        <input type="text" id="coupon" name="coupon" pattern="[A-Z]{2}-[0-9]{4}">
    </div>

   
</script>

</body>

</html>
